.titulo_principal{
    text-align: center;
    background-color: #FF8C42;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333333;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px  white;
    size: 20px;
    color: #333333;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-align: center;
    color: #333333;
}
.card-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333333;
}
.card-body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    size: 10px;
}
.h2_selecione{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body{
   background-color: rgb(189, 189, 189);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

.subtitulo_principal {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 23px;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 15px;
    min-width: 250px;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    }
    
    .card:hover {
        box-shadow: 5px 5px 5px #FF8C42;
}

.dropdown-item:hover {
    background-color: #a39e9e;
    color: #333333;
    cursor: pointer;
   
}
.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
    
}

.card-img{
    height: 200px;
    object-fit: cover;
}

.dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
}
.card.show .dropdown-menu {
    display: block; /* Mostra o dropdown quando o card tem a classe 'show' */
}