
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    
        background-color: #f4f4f9;  
        color: #333333;
        line-height: 1.6;
        background-size: cover; 
        background-position: center center; 
        background-attachment: fixed; 
    }
header{
    background: linear-gradient(135deg, #FF8C42, #ff4d4d);
    border-radius: 10px;
    box-shadow: 2px 2px 2px #333333;
    size: 20px;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:  10px 20px;
}
button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-home {
    background-color: #fff;
    color: #333333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: pointer; 
    left: 20px; 
    top: 40px;
}
.btn-home:hover {
    background-color: #ecc0a4;
    transition: 0.3s;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.1px 0;
    position: inherit;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}
